<% provide(:title, @chall.name) %>

<div class="row challenges">
  <h1>
    <%= @chall.name %>
  </h1>
  <h2>
    <%= @chall.description %>
  </h2>
  <h2>
    Genre: <%= @chall.category %>
  </h2>
  <h2>
    Point: <%= @chall.point %>
  </h2>
  <% if @chall.file_path %>
  <h2>file: <%= link_to 'download', download_path(:chall_id => @chall.id), class: 'btn btn-info'%></h2>
  <% end %>
  <%= form_tag("/submit", method: "post") do %>
    <%= hidden_field_tag(:chall_id, @chall.id) %>

    <%= label_tag(:flag, "Flag Submit") %>
    <%= text_field_tag(:flag) %>

    <%= submit_tag "Submit", class: "btn btn-primary" %>
  <% end %>
</div>